appdirs==1.4.4
asgiref==3.3.0
autopep8==1.5.4
beautifulsoup4==4.9.1
billiard==3.6.3.0
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
coala-utils==0.5.1
cssselect==1.1.0
distlib==0.3.1
dj-database-url==0.5.0
Django==2.1.15
django-admin-ip-restrictor==2.1.1
django-background-tasks==1.2.5
django-compat==1.0.15
django-ipware==2.1.0
facebook-scraper==0.2.13
fake-useragent==0.1.11
filelock==3.0.12
GetOldTweets3==0.0.11
gunicorn==20.0.4
html2text==2020.1.16
idna==2.10
instagram-python-scraper==1.0.2
lxml==4.5.2
parse==1.18.0
pycodestyle==2.6.0
pyee==7.0.4
pyppeteer==0.2.2
pyquery==1.4.1
python-decouple==3.3
pytz==2020.1
requests==2.24.0
requests-html==0.10.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
toml==0.10.1
tqdm==4.50.2
twitterscraper==1.6.1
Unipath==1.1
urllib3==1.25.10
virtualenv==20.0.34
w3lib==1.22.0
websockets==8.1
whitenoise==5.2.0
