{% extends "layouts/base.html" %}

{% block title %} Acerca de {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Acerca de</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/ "><i class="feather icon-home"></i></a></li>                            
                            <li class="breadcrumb-item"><a href="#!">Acerca de </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- [ stiped-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div align="center">
                        <img src="/static/assets/images/utadeo.png" alt="" class="utadeo"> 
                        <br><br>
                        <h3>S-mood </h3>
                        <h3>Software de planeación estratégica</h3> <br>
                        <span class="d-block m-t-5">Al ser el resultado de la fusión de la investigación de mercados y la planeación estratégica publicitaria, se propone el nombre S-mood para el software.  
                            Para llegar a él se parte de las dos palabras “Semiotic” y “Model”, pero se realizan  combinaciones de términos como  La S de semiótica y se le agrega una “o” a la palabra “model” con lo cual se gana sonoridad (dinamismo sonoro), pero además se agrega la significación de Mood del “humor” como estado de animo.  Al final, la combinación implica el estudio del estado de ánimo, los comportamientos de las personas y las estrategias que de allí se pueden generar para resolver casos de Publicidad y de Marketing, el cual es el objetivo principal de la Investigación y del Software.</span>                                           
                    </div>
                </div>
            </div>    
        </div>
            <!-- [ stiped-table ] end -->
    </div>
</section>>

{% endblock content %}
    
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    
<!-- Apex Chart -->
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>
    
{% endblock javascripts %}        