{% extends "layouts/base.html" %}

{% block title %} Campanas {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">    
            <!--Innit campaings-->
            <div class="row">
                {% for campana_publicitaria in campanas_publicitarias %}
                    <div class="col-sm-6">
                        <div class="card bg-primary text-white">
                            <div class="card-body bg-patern-white">
                                <div>
                                    <h2 style=" text-align: left; color:white;">{{campana_publicitaria.nombre_campana}}</h2>
                                </div>
                                </br>
                                </br>
                                <div>

                                </div>
                                <div align="center">
                                    </br>
                                    <a href="/escucha/save" class="btn btn-success"><i class="feather mr-2 icon-plus-square"></i>Crear escucha</a>
                                    <a href="{% url 'escuchas_campana' campana_publicitaria.id %}" class="btn btn-secondary"><i class="feather mr-2 icon-list"></i>Ver escuchas</a>
                                    <a href="{% url 'editar_campana' campana_publicitaria.id %}" class="btn btn-warning"><i class="feather mr-2 icon-edit"></i>Editar</a>
                                    <a href="{% url 'eliminar_campana' campana_publicitaria.id %}" class="btn btn-danger"><i class="feather mr-2 icon-delete"></i>Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>



        </div>
    </section>
            <!-- [ br]end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
