{% extends "layouts/base.html" %}

{% block title %} Campanas {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    
    <link rel="stylesheet" href="/static/assets/css/sentiment_graphic.css">
    
{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!--Innit campaings-->
        <div class="row">
            {% for campana_publicitaria in campanas_publicitarias %}
            <div class="col-sm-4 col-md-4 col-xl-4">
                <div class="card border border-primary mb-3">
                    <div class="card-header bg-transparent border border-primary">
                        <h5 class="card-title">{{campana_publicitaria.campain_name}}</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item reload-card"><a
                                            href="{% url 'editar_campana' campana_publicitaria.campain_id %}"><i
                                                class="feather icon-edit"></i> Editar</a></li>
                                    <li class="dropdown-item close-card"><a
                                            href="{% url 'eliminar_campana' campana_publicitaria.campain_id %}"><i
                                                class="feather icon-trash"></i> Eliminar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body text-success border border-primary">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xl-6">
                                </br>
                                <h5>Empresa</h5>
                                {% for oficcial_escucha in campana_publicitaria.oficcial_escuchas %}
                                    {% if oficcial_escucha.red_social == "Facebook" %}
                                        <div class="card">
                                            <div class="card-body">
                                                <div align="left">
                                                    <h6>{{oficcial_escucha.username}}</h6>
                                                    <h6>Seguidores: {{oficcial_escucha.followers_count}}</h6>
                                                    <h6>Seguidos: {{oficcial_escucha.following_count}}</h6>
                                                    <h6>Publicaciones: {{oficcial_escucha.post_count}}</h6>
                                                    <h6>Fecha de creación: {{oficcial_escucha.created_at}}</h6>
                                                    <h6>Lugar de creación: {{oficcial_escucha.location}}</h6>
                                                <div>
                                                <i class="fab fa-facebook text-c-blue d-block f-40"></i>
                                            </div>
                                            <div class="card-footer" style="color:#000000">
                                                <div class="progress" data-amount="{{oficcial_escucha.compound}}">
                                                    <div class="amount"></div>
                                                </div>
                                                <span style='font-size:20px;float:left;'>&#128545;</span>
                                                <span style='font-size:20px;float:right;'>&#128512;</span>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if oficcial_escucha.red_social == "Instagram" %}
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <div align="left">
                                                    <h6>{{oficcial_escucha.username}}</h6>
                                                    <h6>Seguidores: {{oficcial_escucha.followers_count}}</h6>
                                                    <h6>Seguidos: {{oficcial_escucha.following_count}}</h6>
                                                    <h6>Publicaciones: {{oficcial_escucha.post_count}}</h6>
                                                </div>
                                                <i class="fab fa-instagram text-c-red d-block f-40"></i>
                                            </div>
                                            <div class="card-footer" style="color:#000000">
                                                <div class="progress" data-amount="{{oficcial_escucha.compound}}">
                                                    <div class="amount"></div>
                                                </div>
                                                <span style='font-size:20px;float:left;'>&#128545;</span>
                                                <span style='font-size:20px;float:right;'>&#128512;</span>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if oficcial_escucha.red_social == "Twitter" %}
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <div align="left">
                                                    <h6>{{oficcial_escucha.username}}</h6>
                                                    <h6>Seguidores: {{oficcial_escucha.followers_count}}</h6>
                                                    <h6>Seguidos: {{oficcial_escucha.following_count}}</h6>
                                                    <h6>Publicaciones: {{oficcial_escucha.post_count}}</h6>
                                                    <h6>Fecha de creación: {{oficcial_escucha.created_at}}</h6>
                                                    <h6>Lugar de creación: {{oficcial_escucha.location}}</h6>
                                                </div>
                                                <i class="fab fa-twitter text-c-green d-block f-40"></i>
                                            </div>
                                            <div class="card-footer" style="color:#000000">
                                                <div class="progress" data-amount="{{oficcial_escucha.compound}}">
                                                    <div class="amount"></div>
                                                </div>
                                                <span style='font-size:20px;float:left;'>&#128545;</span>
                                                <span style='font-size:20px;float:right;'>&#128512;</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </br>
                                    
                                {% endfor %}
                            </div>

                            <div class="col-sm-6 col-md-6 col-xl-6">
                                </br>
                                <h5>Competencia</h5>
                                {% for unoficcial_escucha in campana_publicitaria.unofficial_escuchas %}
                                    {% if unoficcial_escucha.red_social == "Facebook" %}
                                        <div class="card">
                                            <div class="card-body">
                                                <div align="left">
                                                    <h6>{{unoficcial_escucha.username}}</h6>
                                                    <h6>Seguidores: {{unoficcial_escucha.followers_count}}</h6>
                                                    <h6>Seguidos: {{unoficcial_escucha.following_count}}</h6>
                                                    <h6>Publicaciones: {{unoficcial_escucha.post_count}}</h6>
                                                    <h6>Fecha de creación: {{unoficcial_escucha.created_at}}</h6>
                                                    <h6>Lugar de creación: {{unoficcial_escucha.location}}</h6>
                                                <div>
                                                <i class="fab fa-facebook text-c-blue d-block f-40"></i>
                                            </div>
                                            <div class="card-footer" style="color:#000000">
                                                <div class="progress" data-amount="{{unoficcial_escucha.compound}}">
                                                    <div class="amount"></div>
                                                </div>
                                                <span style='font-size:20px;float:left;'>&#128545;</span>
                                                <span style='font-size:20px;float:right;'>&#128512;</span>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if unoficcial_escucha.red_social == "Instagram" %}
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <div align="left">
                                                    <h6>{{unoficcial_escucha.username}}</h6>
                                                    <h6>Seguidores: {{unoficcial_escucha.followers_count}}</h6>
                                                    <h6>Seguidos: {{unoficcial_escucha.following_count}}</h6>
                                                    <h6>Publicaciones: {{unoficcial_escucha.post_count}}</h6>
                                                </div>
                                                <i class="fab fa-instagram text-c-red d-block f-40"></i>
                                            </div>
                                            <div class="card-footer" style="color:#000000">
                                                <div class="progress" data-amount="{{unoficcial_escucha.compound}}">
                                                    <div class="amount"></div>
                                                </div>
                                                <span style='font-size:20px;float:left;'>&#128545;</span>
                                                <span style='font-size:20px;float:right;'>&#128512;</span>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if unoficcial_escucha.red_social == "Twitter" %}
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <div align="left">
                                                    <h6>{{unoficcial_escucha.username}}</h6>
                                                    <h6>Seguidores: {{unoficcial_escucha.followers_count}}</h6>
                                                    <h6>Seguidos: {{unoficcial_escucha.following_count}}</h6>
                                                    <h6>Publicaciones: {{unoficcial_escucha.post_count}}</h6>
                                                    <h6>Fecha de creación: {{unoficcial_escucha.created_at}}</h6>
                                                    <h6>Lugar de creación: {{unoficcial_escucha.location}}</h6>
                                                </div>
                                                <i class="fab fa-twitter text-c-green d-block f-40"></i>
                                            </div>
                                            <div class="card-footer" style="color:#000000">
                                                <div class="progress" data-amount="{{unoficcial_escucha.compound}}">
                                                    <div class="amount"></div>
                                                </div>
                                                <span style='font-size:20px;float:left;'>&#128545;</span>
                                                <span style='font-size:20px;float:right;'>&#128512;</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </br>
                                {% endfor %}
                            </div>
                        </div>
                        </br>
                        </br>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xl-6">
                                <div align="center">
                                    <div>
                                        <a href="{% url 'nube_de_palabras_twitter' campana_publicitaria.campain_id %}"
                                            class="btn btn-outline-secondary" style="align-content: initial;"><i
                                                class="fab fa-twitter" style="color: #00acee;"></i></a>

                                        <a href="{% url 'nube_de_palabras_fb' campana_publicitaria.campain_id %}"
                                            class="btn btn-outline-secondary" align="left"><i class="fab fa-facebook"
                                                style="color: #3b5998;"></i></a>

                                        <a href="{% url 'nube_de_palabras_ig' campana_publicitaria.campain_id %}"
                                            class="btn btn-outline-secondary" align="left"><i class="fab fa-instagram"
                                                style="color: #C13584;"></i></a>
                                    </div>
                                    <a style="color: #6c757d;"><i class="fa fa-cloud" style="font-size:20px"></i> Nube de palabras</a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xl-6">
                                <div align="center">
                                    <div>
                                        <a href="{% url 'red_de_palabras_twitter' campana_publicitaria.campain_id %}"
                                            class="btn btn-outline-secondary" style="align-content: initial;"><i
                                                class="fab fa-twitter" style="color: #00acee;"></i></a>

                                        <a href="{% url 'red_de_palabras_fb' campana_publicitaria.campain_id %}"
                                            class="btn btn-outline-secondary" align="left"><i class="fab fa-facebook"
                                                style="color: #3b5998;"></i></a>

                                        <a href="{% url 'red_de_palabras_ig' campana_publicitaria.campain_id %}"
                                            class="btn btn-outline-secondary" align="left"><i class="fab fa-instagram"
                                                style="color: #C13584;"></i></a>
                                    </div>
                                    <a style="color: #6c757d;"><i class="fas fa-project-diagram"
                                            style="font-size:20px"></i> Nube de palabras</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-transparent border-success">
                        <div align="center">
                            </br>
                            <a href="{% url 'escuchas_campana' campana_publicitaria.campain_id %}"
                                class="btn btn-outline-secondary"><i class="feather mr-2 icon-list"></i>Ver
                                escuchas</a>
                            <a href="/escucha/save" class="btn btn-outline-success"><i
                                    class="feather mr-2 icon-plus-square"></i>Escuchas</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>



    </div>
</section>
<!-- [ br]end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Apex Chart -->
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>

<script>
    $(document).ready(function () {
    var dataval = parseInt($('.progress').attr("data-amount"));
        if (dataval < 100) {
            $('.progress .amount').css("width", 100 - dataval + "%");
        }
    });
</script>

{% endblock javascripts %}