{% extends "layouts/base.html" %}

{% block title %} Crear Campaña publicitaria {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- [ Main Content ] start -->
<section class="pcoded-main-container" style="padding: 0px;">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            <div class="col-xl-1">
            </div>
            <div class="col-xl-10">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Campaña publicitaria</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/ "><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/campanas/">Campañas publicitarias</a></li>
                            <li class="breadcrumb-item"><a href="#!">Crear campaña publicitaria</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-1">
            </div>
        </div>

        <div class="row">
            <!-- [ stiped-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    {% if not success %}  
                        <div class="card-body table-border-style">                        
                            <form action="" method="post" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label><strong>Nombre campaña publicitaria</strong></label>
                                    <input required="true" type="text" class="form-control" id="nombre_campana" {{ form.nombre_campana }}</input>
                                </div>
                                </br>
                                <div class="form-group">
                                    <label><strong>Ciudad de busqueda</strong></label>
                                    <select type="text" class="form-control" id="ubicacion_campana" {{ form.ubicacion_campana }} </select>                                
                                    <div>
                                        </br>
                                        <button type="button" class="btn  btn-icon btn-outline-primary" style="float: right;" data-toggle="modal" data-target="#ubication_modal" >+ Agregar</button>                                                                                
                                    </div>
                                </div>
                                </br>
                                </br>
                                <div class="form-group">
                                    <label><strong>Empresa a investigar</strong></label>
                                    <select type="text" class="form-control" id="empresa_campana" {{ form.empresa_campana }}</select>    
                                    <div>
                                        </br>
                                        <button type="button" class="btn  btn-icon btn-outline-primary" style="float: right;" data-toggle="modal" data-target="#empresa_modal" >+ Agregar</button>
                                    </div>
                                </div>
                                </br>
                                </br>
                                <div class="form-group">
                                    <label><strong>Objetivo de busqueda</strong></label>
                                    <input type="text" class="form-control" id="objetivo_campana" {{ form.objetivo_campana }} </input>    
                                </div>
                                <div class="form-group">
                                    <label><strong>Público interesado</strong></label>
                                    <input type="text" class="form-control" id="publico_campana" {{ form.publico_campana }} </input>
                                </div>
                                <div class="form-group">
                                    <label><strong>Presupuesto de la campaña</strong></label>
                                    <input type="number" placeholder="$1200000" class="form-control" id="presupuesto_campana" {{ form.presupuesto_campana }}
                                    </input>    
                                </div>
                                <div class="form-group">
                                    <label><strong>Eficacia </strong></label>
                                    <input type="number" min="0" max="100" placeholder="20 %" class="form-control" id="eficacia_camapana" {{ form.eficacia_camapana }}</input>
                                </div>
                                <div class="form-group">
                                    <label><strong>Seleccionar usuarios a compartir</strong></label>
                                    <select type="text" class="form-control" id="usuario_campana" {{ form.usuario_campana }}
                                    </select>                            
                                </div>                                
                                <button type="submit" name="crear_campana" class="btn btn-primary btn-block mb-4">Guardar</button>
                            </form>

                            <!-- Modal -->
                            <div class="modal fade" id="ubication_modal" tabindex="-1" role="dialog" aria-labelledby="ubication_modal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ubication_modal_label">Agregar ubicación</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'crear_ubicacion' %}" method="post">
                                            {% csrf_token %}                            
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" id="nombre_ubicacion" {{ ubication_form.nombre_ubicacion }} 
                                                </input>
                                            </div>                                
                                                <button type="submit" name="register" class="btn btn-primary btn-block mb-4">Crear</button>                            
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="empresa_modal" tabindex="-1" role="dialog" aria-labelledby="empresa_modal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="empresa_modal_title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'crear_empresa' %}" method="post" role="form">
                                            {% csrf_token %}
                                            <!--div class="form-group">
                                                <label>NIT</label>
                                                <input type="text" class="form-control" id="NIT" {{ empresa_form.nit_empresa }} </input>
                                            </div-->
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" id="nombre_empresa" {{ empresa_form.nombre_empresa }}
                                                    </input>

                                            </div>
                                            <div class="form-group">
                                                <label>Estado Empresa</label>
                                                <select type="text" class="form-control" id="estado_empresa" {{ empresa_form.estado_empresa }}
                                                    </select>

                                            </div>                          

                                            <div class="form-group">
                                                <label>Usuarios</label>
                                                <select type="text" class="form-control" id="empresa_campana" {{ empresa_form.usuarios }} </select>                            
                                            </div>                                
                                            <button type="submit" name="crearempresa" class="btn btn-primary btn-block mb-4">Guardar</button>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- [ stiped-table ] end -->
        </div>
    </div>
</section>>
 
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}