{% extends "layouts/base.html" %}

{% block title %} Empresas {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Empresas</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Empresas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <!-- [ stiped-table ] start -->
                <div class="col-xl-1">
                </div>
                <div class="col-xl-10 ">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr> 
                                        <th style="text-align: center; vertical-align: middle;">#</th>
                                        <th style="text-align: center; vertical-align: middle;">NIT</th>
                                        <th style="text-align: center; vertical-align: middle;">Nombre</th>
                                        <th style="text-align: center; vertical-align: middle;">Estado</th>                             
                                        <th style="text-align: center; vertical-align: middle;">Acciones</th>                             
                                    </tr>
                                </thead>
                                
                                <tbody>                                        
                                    {% for empresa in empresas %}
                                    <tr> 
                                        <td style="text-align: center; vertical-align: middle;">{{ forloop.counter }}</td>
                                        <td style="text-align: center; vertical-align: middle;">{{empresa.nit_empresa}} </td>
                                        <td style="text-align: center; vertical-align: middle;">{{empresa.nombre_empresa}}</td>
                                        <td style="text-align: center; vertical-align: middle;">{{empresa.estado_empresa}}</td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a href="{% url 'editar_empresa' empresa.id %}" class="btn text-secondary px-0">
                                                <i class="far fa-edit fa-lg"></i>
                                            </a>
                                            <form action="{% url 'eliminar_empresa' empresa.id %}" method="POST" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn">
                                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                                </button>
                                                
                                            </form>                                                
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>                             
                            </table>
                        </div>
                    </div>
                </div>
                <!-- [ stiped-table ] end -->
            </div>
        </div>
    </section>
            <!-- [ br]end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
