{% extends "layouts/base.html" %}

{% block title %} Empresas {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Nube de Palabras</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Redes sociales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- [ stiped-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    {% if not success %}
                    <form action="" method="post" role="form">
                        {% csrf_token %}
                        <div class="card-header">
                            <div class="row" style="align-items:center;">
                                <div class="col-xl-9">
                                    <h1>Datos de twitter - Campaña {{form.empresa_campana}}</h1>
                                </div>
                                <div class="col-xl-3">
                                    <div class="table-responsive">
                                        <br><br>
                                        <table class="table table-striped">{{ barras | safe }}</table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    <div class="card-body table-border-style">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="table-responsive">
                                    <img src="{{ wordcloud }}">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- [ stiped-table ] end -->
    </div>
    </div>
</section>>
<!-- [ br]end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Apex Chart -->
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}