{% extends "layouts/base.html" %}

{% block title %} Data de tedes sociales {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Data</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Data</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <!-- [ stiped-table ] start -->
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Data</h5>
                            <span class="d-block m-t-5">Data</span>
                        </div>                        
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr> 
                                            <th>#</th>
                                            <th>Fecha</th>
                                            <th>Identificador</th>
                                            <th>Texto</th>
                                            <th>Likes</th>                             
                                        </tr>
                                    </thead>
                                    
                                    <tbody>                                        
                                    {% for data in redes_data %}
                                        <tr> 
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{data.publicacion_fecha}} </td>
                                            <td>{{data.publicacion_id}}</td>
                                            <td>{{data.publicacion_texto}}</td>
                                            <td>{{data.publicacion_likes}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ stiped-table ] end -->
            </div>
        </div>
    </section>>
            <!-- [ br]end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
